.margin {
  width: 100rem;
  height: 100vh;
}
.title {
  letter-spacing: 2rem;
  margin: 0 auto;
}
.letter {
  color: #e37b7b;
}
.flowerResult {
  margin: 0 auto;
  border-radius: 5rem;
  width: 50rem;
  height: 20rem;
}
.backimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/Flower.png");
  background-repeat: cover;
  height: 63rem;
}
