.background {
  height: 58rem;
  background-image: url(../images/flower_main.png);
  background-size: cover;
  opacity: 0.5;
}
.searchInput {
  opacity: 1;
  transform: translate(0, 10px);
}
.searchIcon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}
